<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <link rel="icon" type="image/x-icon" href="https://blpdelivery.github.io/brand/logo/logo-transparent.PNG">
    <style>
      #navbar {
        height: 100%;
        width: 500px;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #eee;
        color: #000;
      }
    </style>
  </head>
  <body>
    <header>
      <h1><button onclick="openNav()">Open menu</button><a class="title" href="{{ "/" | absolute_url }}">BLP Brand</a></h1>
    </header>
    <nav>
      <div id="navbar">
        <button onclick="closeNav()">Hide menu</button>
        <a href="https://blpdelivery.github.io/brand/logo">Logo</a>
        <a href="https://blpdelivery.github.io/brand/motto-and-slogan">Motto & Slogan</a>
        <a href="https://blpdelivery.github.io/brand/fonts">Fonts</a>
      </div>
    </nav>
    <div id="main">
    <div class="container-lg px-3 my-5 markdown-body">
      <h1><a class="title" href="{{ "/" | absolute_url }}">BLP Brand Guidelines &amp; Resources</a></h1>

      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        <p><a href="http://bermaguilocalpost.org/copyright">&copy; Copyright</a></p>
      </div>
      {% endif %}
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    <script>
      function closeNav() {
        document.getElementById("navbar").style.width = 0px;
      }

      function openNav() {
        document.getElementById("navbar").style.width = 500px;
      }
    </script>
  </body>
</html>
